name: Swift

on: [push]

jobs:

    linux-swift:
        name: Linux
        runs-on: ubuntu-20.04
        container: swift:5.7-focal
        steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Swift Version
          run: swift --version
        - name: Build (Debug)
          run: swift build -c debug
        - name: Build (Release)
          run: swift build -c release
        - name: Test (Debug)
          run: swift test --configuration debug --enable-code-coverage
        - name: Test (Release)
          run: swift test --configuration release -Xswiftc -enable-testing --enable-code-coverage
        - name: Archive Build artifacts
          uses: actions/upload-artifact@v3
          with:
            name: swiftpm-build-ubuntu-x86_64
            path: .build/*/*.xctest
        - name: Coverage Report
          uses: maxep/spm-lcov-action@0.3.1
